
.opciones{
    height: 250px; 
    position: fixed;
    padding-top:60px;
    width: 0;
    z-index: 1;
    background-color:#111;
    transition: 0.5s;
    top:0;
    left:0;
    display: none;
    
   
}


.opciones a{
    padding:8px 8px 8px 32px;
    display:block; 
    color:#818181;
    transition:0.3s;
}

.opciones a:hover{
    color:#f1f1f1;
}


.botonCerrar{
    top:0;
    right: 25px;
    position: absolute;
}

.botonAbrir{
    font-size: 20px;
    background-color:rgb(255, 255, 255);
}



