*{
    margin:0;
    padding:0;
}

body{
    background: rgb(83, 94, 248);
}

.contenedorPrincipal{
    width:70%;
    display: flex;
    margin:auto;
}

.abrir{
    background-color: rgb(37, 37, 37);
    text-align: center;
}

.abrir .fa-solid{
    font-size: 20px;
}

.contenedorMenu{
    width:25%;
    
    
    flex-direction:column;
}
.Menu{
    width:100%;
    display: flex;
    flex-direction: column;
    
    display: none;
    background-color:rgb(48, 48, 48);
    
    
}

.reloj{
    padding-top: 5px;
    text-align: center;
}
.reloj span{
    color: white;
    
    
}
.Menu a{
    text-decoration: none;
    color:white;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    margin-top: 20px;
    margin-top: 20px;
}
.Menu a:hover{
    background-color: rgb(0, 0, 0);
}
.contenedorContenido{
    background: rgb(142, 142, 255);
    display: flex;
    flex-direction: column;
    width:75%;
}

.imagen{
    width:97%;
    padding:10px;
    margin-top: 30px;
}
.imagen img{
    width: 97%;
    border: 5px solid black;
    
}

.nosotros{
    padding: 10px;
    padding-left: 30px;
    color: white;
    margin-bottom: 40px;
}

.nosotros .borde{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

.nosotros .gris{
    color: rgb(44, 44, 83);
    margin-top: 20px;
}

.nosotros p{
    text-align: justify;
    margin-top: 20px;
    margin-right: 20px;
    
}

.ventana{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
}

.ventana .nuevo{
    width:50%;
    height:35%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}
.ventana .corazon{
    display: flex;
    margin-top: 30px;
}

.ventana h2{
    
    font-size:40px;

}
.ventana .fa-solid{
    
    color: rgb(255, 255, 255);
    font-size:60px;
}

.ventana p{
    text-align: justify;
    font-size:30px;
}



.ventana span{
    position: absolute;
    top:5%;
    right:5%;
    font-size:30px;
    color: white;
    cursor: pointer;
}


/*ventana2*/

.ventana2{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
}

.ventana2 .nuevo{
    width:50%;
    height:35%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}

.ventana2 h2{
    font-size:40px;

}
.ventana2 .corazon{
    display:flex;
    margin-top: 30px;
}
.ventana2 .fa-solid{
    
    color: rgb(255, 255, 255);
    font-size:60px;
}

.ventana2 p{
    text-align: justify;
    font-size:30px;
}



.ventana2 span{
    position: absolute;
    top:5%;
    right:5%;
    font-size:30px;
    color: white;
    cursor: pointer;
}

/*ventana 3*/
.ventana3{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
}

.ventana3 .nuevo{
    width:50%;
    height:35%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}

.ventana3 h2{
    font-size:40px;

}
.ventana3 .corazon{
    display:flex;
    margin-top: 30px;
}
.ventana3 .fa-solid{
    
    color: rgb(255, 255, 255);
    font-size:60px;
}

.ventana3 p{
    text-align: justify;
    font-size:30px;
}



.ventana3 span{
    position: absolute;
    top:5%;
    right:5%;
    font-size:30px;
    color: white;
    cursor: pointer;
}


/*ventana 4*/
.ventana4{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
}

.ventana4 .nuevo{
    width:50%;
    height:35%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}

.ventana4 h2{
    font-size:40px;

}
.ventana4 .corazon{
    display:flex;
    margin-top: 30px;
}
.ventana4 .fa-solid{
    
    color: rgb(255, 255, 255);
    font-size:60px;
}

.ventana4 p{
    text-align: justify;
    font-size:30px;
}



.ventana4 span{
    position: absolute;
    top:5%;
    right:5%;
    font-size:30px;
    color: white;
    cursor: pointer;
}






.iconos{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.iconos .diferencia{
    margin-left: 10px;
    width:45%;
    margin-bottom: 20px;
    padding-right: 20px;
    cursor:pointer;
}
.iconos .diferencia:hover{
    background-color:rgb(130, 138, 253);
}

.iconos .corazon{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.fa-solid{
    color: white;
    font-size: 40px;
    margin:10px;
}
.fa-light{
    color: white;
    font-size: 30px;
    margin:10px;
}

.gris2{
    color: rgb(44, 44, 83);
}

.corazon p{
    color: rgb(255, 255, 255);
    text-align: justify;
}

.proyectos{
    margin: 10px;
    margin-top:60px;
}
.proyectos h2{
    color:white;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.proyectos p{
    color:white;
}

.imagenesPro{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagenesPro img{
    width:29%;
    border: 4px solid white;
    margin:3px;
    margin-bottom: 15px;
    height: 130px;
    cursor: pointer;
    transition: 1s;
}
.imagenesPro img:hover{
    transform: scale(1.2);
}
.imagenespng{
    margin: 10px;
    width:97%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: center;
}

.imagenespng .texto{
    width:150px;
    height: 155px;
    text-align: center;
    color:white;
    border: 1px solid rgb(94, 94, 94);
    transition: 3s;
    
}
.imagenespng .texto:hover{
    background-color: rgb(33, 25, 150);
}
.imagenespng .texto .foto:hover{
    transform: translate(10px);
}

.imagenespng .texto .foto{
    width:90%;
    height: 130px;
    cursor: pointer;
    transition: 1s;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:90%;
    margin-bottom: 40px;
    align-items: end;
}

form input{
    width:100%;
    padding:10px;
    background-color: rgb(83, 94, 248);
    border:none;
    border-bottom: 1px solid white;
    color: white;
}
input:focus{
    outline:none;
}

::placeholder{
    color: white;
}

form textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
    background-color: rgb(83, 94, 248);
    padding:10px;
}

textarea:focus{
    outline:none;
}

button{
    margin-top:5px;
    width: 90px;
    height: 30px;
    background-color: rgb(59, 64, 128);
    color: white;
    border: none;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: auto;
    width:200px;
    background-color: rgb(59, 64, 128);
    border-radius: 30px;
    margin-bottom:30px ;
    padding:5px;
}

.face{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 90, 241);
    border-radius:50%;
    width: 30px;
    height: 30px;
}

.twi{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(132, 182, 247);
    border-radius:50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.inst{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 198, 104);
    border-radius:50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.fa-brands{
    color: white;
}

footer h3{
    color: white;
    font-size:15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

@media (max-width:1200px){
    .iconos{
        flex-direction: column;
    }
    .iconos .diferencia{
        margin:auto;
        margin-top: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        width:70%;
    }
    .contenedorPrincipal{
        flex-direction: column;
    }
    .contenedorContenido{
        width:100%;
    }
    .contenedorMenu{
        width:100%;
    }
    .Menu{
        position: absolute;
        width: 70%;
        
    }
    
}
@media (max-width:1000px){

.ventana .nuevo{
    width:50%;
    height:50%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}
.ventana2 .nuevo{
    width:50%;
    height:50%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}
.ventana3 .nuevo{
    width:50%;
    height:50%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}
.ventana4 .nuevo{
    width:50%;
    height:50%;
    background-color:rgb(142, 142, 255);
    border-radius: 10px;
    padding:30px;
}
}

@media (max-width:800px){
    .imagenesPro{
        flex-direction: column;
    }
    .imagenesPro img{
        width: 95%;
        height:200px;
    }
    .iconos .diferencia{
        width:95%;
        padding: 10px;
    }

    .diferencia .gris2{
        text-align: center;
    }
}

@media (max-width:750px){
    form{
        width: 75%;
    }
}

@media (max-width:700px){
    .ventana .corazon{
        flex-direction:column;
        text-align:center;
    }
    
    .ventana2 .corazon{
        flex-direction:column;
        text-align:center;
    }

    .ventana3 .corazon{
        flex-direction:column;
        text-align:center;
    }

    .ventana4 .corazon{
        flex-direction:column;
        text-align:center;
    }
    .ventana .nuevo{
        width:60%;
        height:80%;
        background-color:rgb(142, 142, 255);
        border-radius: 10px;
        padding:30px;
    }
    .ventana2 .nuevo{
        width:60%;
        height:80%;
        background-color:rgb(142, 142, 255);
        border-radius: 10px;
        padding:30px;
    }
    .ventana3 .nuevo{
        width:60%;
        height:80%;
        background-color:rgb(142, 142, 255);
        border-radius: 10px;
        padding:30px;
    }
    .ventana4 .nuevo{
        width:60%;
        height:80%;
        background-color:rgb(142, 142, 255);
        border-radius: 10px;
        padding:30px;
    }
    }

@media (max-width:500px){
    .iconos .diferencia{
        width:80%;
    }
    .iconos .diferencia .corazon .fa-solid {
        display: none;
    }
}
