* {
    margin:0;
    padding:0;
}

/*comienzo de pagina*/

.contenedor{
    width:100%;
    margin: auto;
    margin-bottom: 10px;
}

.contenedor .navegador{
    width:100%;
    height:40px;
    background:rgb(8, 8, 8);
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.navegador a{
    color:white;
    text-decoration: none;
    display: flex;
    align-items:center;
}

.navegador a:hover{
    color:rgb(0, 216, 231);
}

.material-symbols-outlined{
    width:3px;
    height:3px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.barra{
    display: flex;
    align-items:center;
    justify-content: end;
    width:100%;
    height:60px;
    background:rgb(235, 235, 235);
    position: absolute;
    z-index: 1;
}
.imagen .enlaces {
    align-items: center;
    display: flex;
    padding-right: 10px;

}
.borrar{
    display: flex;
}



.barra .enlaces p{
    color:rgb(2, 201, 201);
}

.barra .enlaces .aqui{
    color:black;
}

.barra .enlaces .aqui:hover{
    color:rgb(3, 208, 223);
}

.imagen .chicas{
    height:300px;
}

.pantalla{
    width:100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    
}
.enlaces a {
    color:rgb(70, 69, 69);
    text-decoration: none;
    font-size:18px;
    margin-left: 40px;  
}
a :hover{
    color:rgb(0, 216, 231);
}

.imagen{
    display: flex;
}
.imagen img{
    width:100%;
    height:600px;
}
.imagen span{
    margin-top:40px;
    background:white;
}

input{
    margin-top: 0px;
    height:30px;
    margin-left: 70px;
    border:none;
    outline: none;
}




.imagen .enlaces span {
    margin-top: 0;
    height:30px;
}

/*comienzo del  formulario */



.formulario{
    width:97%;
    margin:auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
   
}

.izquierda{
    width:45%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.derecha{
    width:45%;
    display: flex;
    flex-direction: column;
}

.formulario input{
    width: 100%;
    margin:0px;
    border: 1px solid rgb(214, 214, 214);
    margin-top: 30px;
    padding-left: 10px;
    outline: none;
}

.formulario input:focus{
    outline:1px solid rgb(245, 76, 76);
    background-color:rgb(255, 242, 242);
}

.formulario button{
    height:50px;
    width:110px;
    margin-top:30px ;
    background: white;
    border: 1px solid rgb(94, 94, 94);
}

.formulario button:hover{
    background-color: rgb(152, 240, 255);
    border: none;
}

.formulario p{
    font-size:20px;
    margin-top: 20px;
    color:rgb(102, 102, 102);
}


/*reloj*/



.reloj{
    display: flex;
    justify-content: center;
    color:rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 30px;
    
}




/*comienzo del footer*/
 

footer{
    
    background:rgb(235, 235, 235);
    width:100%;
    padding-bottom: 20px;
}

.informacion{
    display:flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    
}

.informacion section{
    margin:10px;
    flex-wrap: wrap;
    width:215px;
}

.informacion section p{
     padding-top: 15px;
}

.informacion section .claro{
    color: rgb(153, 152, 152);
    margin-left:0px;
    padding-top: 15px;
    
}

.informacion section .claro:hover{
    color:rgb(189, 189, 189);
}


.redes{
    display:flex;
    margin:auto;
    justify-content: space-around;
    width:78%;
    height: 100px;
    background: rgb(36, 147, 238);
    margin-top:20px;
    margin-bottom: 20px;
    align-items: center;

}

.redes i{
    font-size:50px;
    color:rgb(255, 255, 255);
}








/*comienzo del media para responsive*/



@media (max-width:1015px){
    
}


@media (max-width:960px){
    .barra{
        height: 210px;
        justify-content:center;
        background: rgb(173, 173, 173, 0.2);
        
       
    }
    .barra .enlaces{
       flex-direction: column; 
       
    
    }
    .barra .enlaces .aqui{
        color:rgb(255, 255, 255);
    }
    .enlaces a{
        margin-top: 10px;
        color: rgb(255, 255, 255);
    }

    
    .borrar{
        margin-top:10px;
        margin-left:-20px;
    }
    .borrar input{
        padding-left:10px;
    }

    .enlaces a b{
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    
   
    .formulario{
        flex-direction: column;
        
    }
    .izquierda{
        width: 100%;
    }
    .derecha{
        width: 100%;
    }
    

}
@media (max-width:618px){
    .informacion section{
        border-bottom: 1px solid black;
        text-align: center;
        width:100%;
        padding-bottom: 10px;
    }
    .reloj{
        margin-right: 20%;
        margin: 40px;
        
    }
    .reloj span{
        font-size:35px;
    }
    
}