* {
    margin:0;
    padding:0;
}
.contenedor{
    width:100%;
    margin: auto;
    margin-bottom: 10px;
}

/*formato de fecha en encabezado*/

.fechas{
    color:rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin-left:30x;
    height:50px; 
    width: 500px;
}


/*barra de navegacion*/

.contenedor .navegador{
    width:100%;
    height:40px;
    background:rgb(8, 8, 8);
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.borrar{
    display: flex;
}
.navegador a{
    color:white;
    text-decoration: none;
    display: flex;
    align-items:center;
}
.navegador a:hover{
    color:rgb(0, 216, 231);
}
.material-symbols-outlined{
    width:3px;
    height:3px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.imagen .enlaces {
    width:100%;
    position:absolute;
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding-right: 10px;
    justify-content: end;  
}
.enlaces .aqui{
    color: rgb(0, 163, 212);
}
a {
    color:rgb(70, 69, 69);
    text-decoration: none;
    font-size:18px;
    margin-left: 40px;  
}
a :hover{
    color:rgb(0, 216, 231);
}
.imagen{
    display: flex;
    justify-content:end;
    margin-bottom: 10px;
}
.imagen img{
    width:100%;
    height:600px;
}
.imagen span{
    margin-top:40px;
    background:white;
}
input{
    height:30px;
    margin-left: 70px;
    border:none;
    outline: none;
    padding-left: 10px;
}
.imagen .enlaces span {
    margin-top: 0;
    height:30px;
}


/*comienzo de menu desplegable y sus estilos hombre */


.opciones{
    
    width:400px;
    position:fixed;
    padding-top:20px;
    width: 0;
    z-index: 1;
    top: 0;
    left:0;
    margin-left:40%;
    margin-top:40px;
    display: none;
    box-shadow: 0px -1px 30px 10px rgb(0, 0, 0 );
}
.op{
    display:flex;
}
.desplabajo{
    display: flex;
    flex-direction:column;
    background-color: rgb(31, 30, 30);
    color: White;
    margin:10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 275px;
}
h1{
    font-size:20px;
}
h4{
    font-size:15px;
    margin-top: 5px;
}
.opciones a{
    padding:8px 15px 15px 15px;
    display:block; 
    color:#818181;
    margin-left: 5px;
}
.opciones a:hover{
    color:#f1f1f1;
}
.botonCerrar{
    top:0;
    right: 25px;
    position: absolute;
}

/*fin de menu desplegable y sus estilos hombre*/

/*menu desplegable mujer*/
.cierre{
    font-size:20px;
    color: rgb(170, 170, 170);
    margin-left: 80%;
    
}
.mujer{
    
    width:350px;
    background:white;
    position: fixed;
    top:30%;
    right:30%;
    display: none;
    box-shadow: 0px -1px 30px 10px rgb(0, 0, 0 );

}
.columnas{
    display:flex;  
}
.primera{
    width:40%;
    display: flex;
    flex-direction:column; 
}

.segunda{
    width:60%;
    display: flex;
    flex-direction:column;
}

.final{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color:white;
    margin: 15px;
}
.colorm{
    padding:8px 15px 15px 15px;
    color:#818181;
    margin-left: 5px;
}
.colorm:hover{
    color:#bdbdbd;
}


/*fotos con sus precios*/


.fotos{
    width:90%;
    margin: auto;
    border-top: 2px solid rgb(167, 167, 167);
    padding-top:10px;
}
.fotocentral{
    display:flex;
    width: 100%;
    margin-top: 20px; 
}
.contenedor .fotos .fotonav a{
    color: black;
    margin-left: 30px;
}
.contenedor .fotos .fotonav a:hover{
    color: rgb(35, 229, 255);
}
.fotoizquierda{ 
    width: 50%; 
}
.fotoderecha{ 
    width: 50%;
}
.arriba{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px; 
}



/*desplegar info de foto */


.desplegarverde{
    width:48%;
}
.verde{
    width:100%;
    height: 250px;    
}
.info{
    display: none;
    border: 1px solid black;
    background-color:white;
    z-index: 1;
    width: 21.5%;
}
.infogrande{
    display: none;
    border: 1px solid black;
    background-color:white;
    z-index: 1;
    width: 45%;
}
h5{
    font-size:15px;
}
.superior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
}
.inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-left: 5px;
}
.circulo:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


 /*foto2 */


.dblanco{
    width: 48%;
    margin-left: 20px;
}
.fotocentral.arriba.verde:hover+ h3{
    display: block;
}
.blanco{
    width:100%;
    height: 300px;
}
.cuadro{
    width:100%;
    height: 400px;
    border: 1px solid rgb(194, 194, 194);
}
.azul{
    width:60%;
    height: 400px;
}
.fotoderecha .up img{
    width:97%;
    height: 400px;
    margin: 10px;
}
.fotoderecha .down{
    display:flex;
    justify-content: space-around;
}
.fotoderecha .down .bajo{
    width:100%;
    height: 300px;   
}
.u{
    width:100%;
    height: 300px;    
}
.pantceleste{
    width:47%;
    margin-left: 5px;
}
.marron{
    width:47%;
}
.fotoizquierda p{
    font-size:20px;
    position: absolute;
    color: rgb(82, 83, 83);
    margin-left: 30px;
    margin-top: 20px; 
}
.fotoizquierda .l{
    font-size:20px;
    position: absolute;
    color: rgb(82, 83, 83);
    margin-left: 25%;
}
.fotoderecha p{
    font-size:20px;
    position: absolute;
    color: rgb(58, 58, 58);
    margin-left: 30px;
    margin-top: 20px; 
}


/*comienzo del footer */


footer{
    background:rgb(235, 235, 235);
    width:100%;
    padding-bottom: 20px;
}
.informacion{
    display:flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.informacion section{
    margin:10px;
    flex-wrap: wrap;
    width:215px;
}
.informacion section p{
     padding-top: 15px;
}
.informacion section .claro{
    color: rgb(153, 152, 152);
    margin-left:0px;
    padding-top: 15px;
}
.informacion section .claro:hover{
    color:rgb(189, 189, 189);
}
.redes{
    display:flex;
    margin:auto;
    justify-content: space-around;
    width:78%;
    height: 100px;
    background: rgb(36, 147, 238);
    margin-top:20px;
    margin-bottom: 20px;
    align-items: center;
    padding-right: 30px;
}
.redes i{
    font-size:50px;
    color:rgb(255, 255, 255);
    
}

/*comienzo del media responsive*/


@media (max-width:965px){
    .opciones{
        top: 25%;
        left:-20%;
    }
    .opciones .grisc{
        padding:5px;
        color:#818181;
    }
    .menu{
        margin-top: 300px; 
    }
    .enlaces{
        flex-direction: column;
        justify-content: center;
        background-color:rgb(39, 39, 39,0.2);  
    }
    .enlaces a{
        margin-top: 10px;
        color: rgb(0, 0, 0);
        border-bottom: 1px solid white;
    }
    .enlaces div{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .fotos .fotonav{
        display: flex;
        flex-direction: column
    }
    .fotonav a{
        margin-top: 20px;
        border-bottom: 1px solid grey;
        padding-left: 35%;
    }
    .fotoizquierda .l{
        margin-left: 25%;
    }
    .fechas{
        margin: 0px;
        font-size: 30px;
    }
    .desplizq{
        padding-left: 5px;
    }
}
@media (max-width:700px){
    .fechas{
        
        font-size: 25px;
        
    }
    .fotocentral{
        flex-direction: column;
    }
    .fotoizquierda{
        width: 100%;
    }
    .fotoderecha{
        width: 100%;
    }
    .fotoizquierda .l{
        margin-left: 50%;
    }
    .info{
        width:43%;
    }
    .infogrande{
        width:90%;
    }
}
@media (max-width:618px){
    .informacion section{
        border-bottom: 1px solid black;
        text-align: center;
        width:100%;
        padding-bottom: 10px;
    }
    .mujer{
        right:25%;
        
    }
}
@media (max-width:450px){
    .opciones{
        left:-35%;
    }
}
@media (max-width:430px){
    .fechas{
        
        font-size: 15px;
        
    }
}

