html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding:0;
}
.borde{
    height:6px;
    background:rgb(156, 156, 156);
}
.contenedor{
    width:80%;
    margin:auto;
}

header{
    display:flex;
    height:250px;
    width: 100%;
    
    padding-top:5px;
}

.arbol{
    width:25%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display:flex;
    justify-content:center;
    height:250px;
    flex-direction: column;    
}
h2{
    text-align:center;
    margin:auto;
    font-size:40px;
    color: rgb(167, 166, 166);
}

.tree{
    width:100px;
    height:160px;
    margin: auto; 
}
.centro{
    width:100%;
    height:250px;
    border-radius:10px;
}
.foto{
    width:55%;
    margin-left: 6px;
    margin-right: 6px;
    
}

.navegacion{
    background-color: rgb(243, 243, 243);
    width:20%;
    height:250px;
    border-radius: 10px;
   
}
.navegacion span{
    color: rgb(180, 180, 180);
}
.navegacion li{
    font-family:sans-serif;
    padding-bottom:5px;
    list-style:none;
    margin-left:40px;
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-top: 20px;

}

.navegacion ul li a:hover{
    color: rgb(180, 180, 180);
}

.navegacion ul li img{
    margin-right: 20px;
    position: relative;
}

.navegacion ul li a{
    position: absolute;
    text-decoration: none;
    color: rgb(255, 126, 79);
    font-size:14px;
}

ul{
    padding-right: 30px;
    margin-top:20px;
    
}

main{
    display: flex;
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
    width: 100%;
    
    

}

.formulario{
    width:30%;
    padding-left: 10px;
    
    
}



input{
    width:90%;
    height:25px;
    margin-left: 10px;
    border: none;
    margin-top: 3px;
    margin-bottom: 20px;
}

.formulario form p{
    
    margin-bottom:10px;
    margin-left: 10px;
    color: rgb(114, 114, 114);
    
}

h1{
    color: rgb(114, 114, 114);
    font-size:40px;
    margin-left: 10px;
    margin-top: 12px;
}


h3{
    margin-top:10px;
    padding-bottom: 30px;    
    font-size:30px;
    color: rgb(114, 114, 114);
}

form h3{
    
    margin-left: 10px;
}

textarea{
    min-width: 90%;
    max-width: 90%;
    min-height:200px;
    max-height:200px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.boton{
    width:70px;
    height:30px;
    margin-top:10px;
    background:rgb(148, 220, 253);
    border: 1px solid rgb(37, 186, 255);;
    color:rgb(0, 171, 250) ;
}

.galeria{
    width:70%;
    padding:10px;
    padding-top:60px;
    
}

.galeria .fotos{
    background: white;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:7px 0 7px 0;
}

.galeria img{
    width:300px;
    height:150px;
    padding:4px;
}

.galeria .fotos .imagenes{
    border:1px solid rgb(255, 0, 0);
    width: 90%;
}



.galeria a{
    text-decoration:none;
}

footer{
    display:flex;
    background: rgb(223, 229, 255);
    margin-top:10px;
    border-radius: 10px;
    padding-bottom:60px;
}

.redes, .servicios, .nosotros{
    width:33%;
    padding:10px;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    padding:20px 0 0 20px;
}

footer p{
    width:100%;
    color: rgb(83, 83, 83);
    font-size:18px;
    margin-top:10px;   
}


.face, .twi, .you{
    display:flex;
    width: 40%;
    height: 30px;
}

.you{
    margin-top:0;
}

footer h5{
    margin-top: 9px;
    margin-left: 5px;
}

footer a{
    text-decoration:none;
    color: rgb(255, 126, 79);
    font-family:sans-serif;
}

footer a:hover{
    color: rgb(255, 189, 164);
} 

.servicios {
    margin-top:10px;
}

.servicios li{
    list-style: none;
    color: rgb(141, 141, 141);
}

.nosotros{
    text-align: justify;
    margin: 10px 10px 0 5px;
}

.nosotros .texto{
    padding-top:5px;
    color: rgb(141, 141, 141);
}

.borde-inf{
    margin-top: 10px;
    width: 100%;
    height:50px;
    background:rgb(156, 156, 156);
    border-radius:10px;
}


@media (max-width:1020px){
    header{
        flex-wrap:wrap ;    
       
        height: 310px;
    }
    header .arbol{
        width: 40%;
    }
    header .foto{
        width: 58%;
    }
    .navegacion{
        width:100%;
        height:50px;
        margin-top: 10px;
       
    }
    .navegacion ul li{
        display:inline-block;
        margin-top: 0;   
        padding-left: 40px;
    }
    main{
        
        flex-direction:column-reverse;
    
    }

    main .galeria{
        width:97%;
    }
    main .galeria .foto{
        width:100%;
    }
    
    main .formulario{
        width:97%;
        margin-left: 15px;

    }
    footer{
        flex-wrap:wrap;
    }
    footer .nosotros{
        width:97%;
    }
    footer .redes{
        width:45%;
    }
    footer .servicios{
        width:45%;
    }
    
}    

@media (max-width:900px){
    .navegacion ul li{
        padding-left:20px;   
    }
    

    
}



@media (max-width:760px){
    header{
        justify-content: space-around;
    }
    header .arbol{
        width: 40%;
    }
    header .foto{
        width: 55%;
        
    }
    
    
   
    footer{
        flex-direction:column;
    }
    footer .redes{
        width:100%;
        

    }
    
    footer .servicios{
        width:100%;
    }
    footer .nosotros{
        width: 90%;
    }
    footer .redes .face{
        margin-bottom: 20px;
    }
}

@media (max-width:700px){
    header{
        height:460px;
    }
    .navegacion ul li{
        display:block;
        
        margin-top: 10px;
       
    }
    .navegacion{
        height:200px;
    }

    
}
