html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding:0;
}
.borde{
    height:6px;
    background:rgb(156, 156, 156);

}
.contenedor{
    width:80%;
    margin:auto;
    
}
header{
    display:flex;
    
    width: 100%;
    align-items:center;
    padding-top:5px;
}

.arbol{
    width:25%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display:flex;
    justify-content:center;
    height:250px;
    flex-direction: column;    
}
h2{
    margin:auto;
    font-size:40px;
    color: rgb(167, 166, 166);
}

.tree{
    width:100px;
    height:160px;
    margin: auto; 
    
}

.centro{
    width:100%;
    height:250px;
    border-radius: 10px 0  0 10px;
  
}

.foto{
    width:50%;
    margin-left: 6px;
    margin-right: 6px;
    position:relative;   
}
.boton{
    position:absolute;
    margin-top: 105px;
    background:none;  
}



button{
    font-size:40px;
    height:40px;
    width:40px;
    border-radius:12px;
    box-shadow: 4px 4px 10px ;
    border:none;
    margin-left: 10px;
    margin-right: 20px;
    
}
.navegacion{
    background-color: rgb(243, 243, 243);
    width:20%;
    height:250px;
    border-radius: 10px;
   
}

span{
    color: rgb(180, 180, 180);
}

li{
    font-family:sans-serif;
    padding-bottom:5px;
    list-style:none;
    margin-left:40px;
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-top: 20px;
   
}

.navegacion ul li a:hover{
    color: rgb(180, 180, 180);
}

.navegacion ul li img{
    position: relative;
    margin-right: 20px;

}

.navegacion ul li a{
    position:absolute;
    text-decoration: none;
    color: rgb(255, 126, 79);
    font-size:14px;
}

ul{
    padding-right: 30px;
    margin-top:20px;
}

section{
    display:flex;
    width: 100%;
    height:90px;
    margin-top:10px;
    background-image:linear-gradient(rgb(181, 194, 252), rgb(230, 234, 253), rgb(181, 194, 252));
    border-radius: 10px;    
    align-items:center;
}

.izq{
    width:33%;
    padding: 10px;
    font-size:15px;
}

.medio{
    width:33%;
    padding: 10px;
}

.der{
    width:34%;
    padding: 10px;    
}

section a{
    text-decoration:none; 
}

section p{
    color:rgb(88, 88, 88);
    margin-top:5px;
    text-align: justify;    
}

section span{
    color:rgb(0, 0, 0);
}

section img{
    height: 75px;  
}

section .der h4{
    margin-top:10px;
    
    
}

.jardines{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-around;
    width:100%;
    border-radius: 10px 10px 0 0;
    margin-top:10px;
}

.jardines span{
    color:black;
}

.galeria1{
    width:28%;
    border: 1px sold black;
}

.galeria2{
    width: 28%;
    border: 1px sold black;
}

.galeria3{
    width:28%;
    border: 1px sold black;
}

.jardines img{
    width: 100%;
    height:30%;
    border: 5px solid white;
}

.jardines p{
    text-align:justify;
    margin-top:15px;
    color: rgb(136, 136, 136);
    font-size:14px;
}

.jardines button{
    width:70px;
    height:25px;
    font-size:15px;
    border-radius: 4px;
    background:rgb(81, 200, 255);
    box-shadow: none;
    margin-left: 0px;
    margin-top: 40px;;
}

.jardines button a{
    text-decoration:none;
    color: rgb(116, 116, 116);
}

h1{
    margin:15 0 15 0;
    color:rgb(124, 124, 124);
    font-size:30px;
}

.hamacas{
    display:flex;
    margin-top: 3px;
    width:100%;
    background-color: rgb(243, 243, 243);
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    padding-bottom: 60px;
    
}

.pergolas{
    width:28%;
}

.frace{
    width:28%;
}

.ideas{
    width:28%;
}

.hamacas .pergolas img{
    width: 100%;
    height:50%;
    border: 5px solid white;
}

.hamacas  h1{
    margin:20 0 20 0;
}

.hamacas .frace p{
    margin-top:75px;
    text-align:justify;
    color: rgb(136, 136, 136);
    font-size:14px;
}

.hamacas button{
    width:70px;
    height:25px;
    font-size:15px;
    border-radius: 4px;
    background:rgb(81, 200, 255);
    box-shadow: none;
    margin-left: 0px;
    margin-top: 40px;
   
}
.hamacas a{
    text-decoration:none;
    color: rgb(116, 116, 116);
}

.hamacas .ideas img{
    position: absolute;
    
    
}
.hamacas .ideas p{
    position:relative;
    text-align: justify;
    margin-right:60px;
    padding-left:40px;
    margin-top: 60px;   
}

.hamacas .ideas button{
    margin-top: 70px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

footer div{
    width: 28%;
    padding-bottom: 70px;
}

footer button{
    width:70px;
    height:25px;
    font-size:15px;
    border-radius: 4px;
    background:rgb(81, 200, 255);
    box-shadow: none;
    margin-left: 0px;
    margin-top: 40px;
    
}

footer a{
    text-decoration: none;
    color: rgb(66, 66, 66);;
}

footer p{
    margin-top:10px;
    text-align:justify;
    color: rgb(53, 53, 53);
}

footer h3{
    color: rgb(107, 107, 107);
}

.borde-inferior{
    width:100%;
    display: flex;
}

.largo{
    width:80%;
    height:50px;
    background:rgb(156, 156, 156);
    border-radius: 0 10px 10px 0;
}

.corto{
    width:20%;
    height:50px;
    background:rgb(156, 156, 156);
    border-radius: 10px 0 0  10px;
}


@media (max-width:1250px){
    .ideas img{
        width: 25%;
        height:40%;
    }
    .ideas p{
        font-size: 13px;
       
    }
    
    h1{
        font-size:25px;
    }
    .ideas img{
        width:22%;
        
        
    }
}

@media (max-width:1020px){
    header{
        flex-wrap:wrap ;
        
    }

    

    button{
        margin:0;
        padding:0;
    }

    .navegacion ul li{
        display:inline;
        padding-left:40px;
        
    }

    .navegacion{
        width:100%;
        height:50px;
        margin-top: 10px;
    }

    h1{
        font-size:20px;
    }
    .arbol{
        width:35%;

    }

    .foto{
        width:55%;
    }

    section h4{
        font-size:15px;
    }
    section p{
        font-size:13px;
    }
    .hamacas .pergolas img{
        width:97%;
        
    }
    .ideas img{
        width:22%;
    }
    
}

@media (max-width:900px){
    
    .navegacion ul li{
        padding-left:20px;   
    }
    section{
        height:120px;
    }
}

@media (max-width:820px){
   

    section{
        flex-direction: column;
        height:45%;
    }
    section .izq{
        width:90%;
        border-bottom: 1px solid rgb(146, 233, 255);
    }
    section .medio{
        width:90%;
        border-bottom: 1px solid rgb(146, 233, 255);
    }
    section .der{
        width:90%;
        border-bottom: 1px solid rgb(146, 233, 255);
    }
    section img{
        height: 0px;
    }
    .jardines{
        flex-direction: column;
    }
    .galeria1{
        width:97%;
        margin-left: 5px;
    }
    .galeria2{
        width:97%;
        margin-left: 5px;
    }
    .galeria3{
        width:97%;
        margin-left: 5px;
    }
    
    .hamacas{
        flex-direction: column;
    }
    .pergolas{
        width:97%;
        margin-left: 5px;
    }
    .frace{
        width:97%;
        margin-left: 5px;
    }
    .ideas{
        width:97%;
        margin-left: 5px;
    }

    .ideas img{
        width:78%;
        height:25%;
        margin:0;
    }

    footer{
        flex-direction: column;

    }
    footer .estanques{
        width:97%;
        margin-left: 5px;
    }
    footer .cesped{
        width:97%;
        margin-left: 5px;
    }
    footer .jardin{
        width:97%;
        margin-left: 5px;
    }
}

@media (max-width:700px){
    header{
        justify-content: space-around;
    }
    header .foto {
        width:60%;
        
        border-radius: 10px;
    }
    header .foto .centro{
        border-radius: 10px;
    }
    header .boton{
        margin-left:10px;

    }
    header .mediaq{
        position:absolute;
        margin-top: -240px;
        margin-left:65%;
        background: none;
       
    }
    .navegacion ul li{
        display:block;
        

    }
    .navegacion{
        height:230px;
    }
    .ideas img{
        width:78%;
        height:29%;
        margin:0;
    }
    
}


